*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background :linear-gradient(to top,cadetblue,whitesmoke);
    color:#333;
}
header{
    background: #111;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    font-size: 1.4rem;
}
nav a{
    color:white;
    margin-left: 20px;
    text-decoration:none;
}
nav a:hover{
    color:#00bcd4;
}
.hero{
    text-align: center;
    padding:100px,200px;
    background:linear-gradient(150deg,#0077b6,#00b4d8);
    color:white;
}
.hero span{
    color:#ffeb3b;
}
.btn{
    display:inline-block;
    margin-top: 20px;
    padding:10px 20px;
    background:white;
    color:#0077b6;
    border-radius: 5px;
    text-decoration: none;
    font-weight:bold;
}
section{
    padding:60px 20px;
    max-width:900px;
    margin:auto;
}
.about p{
    line-height:1.6;
}
.skills ul{
    list-style: square;
    margin-left: 20px;
}
.projects{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.project-card{
    background: white;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.contact a{
    color:#0077b6;
    text-decoration: none;
}
footer{
    text-align: center;
    background: #111;
    color:white;
    padding: 15px;
}
header{
  
}
